<div class="container">
    <div class="row">

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <a href="#" class="thumbnail"> <img id="#avatar" src="http://lorempixel.com/image_output/people-q-c-640-480-9.jpg" class="img-responsive img-rounded"></a>
            <div id="">
                <h3 id="realName"></h3>
                @foreach (var user in ViewBag.user)
                {
                    <h4 class="text-muted" id="#userFullName">@user.FirstName  @user.LastName </h4>
                    <h4 class="text-muted" id="#userName">@user.Username</h4>
                }
            </div>
            <hr>
            @foreach (var user in ViewBag.user)
            {
                <p id="userLocation"><span class="glyphicon glyphicon-map-marker"></span> @user.Country</p>
                <p id="userEmail"><span class="glyphicon glyphicon-envelope"></span> @user.Email</p>
                <p id="userAge"><span class="glyphicon glyphicon-calendar"></span> @user.DoB</p>
            }
            <span class="glyphicon glyphicon-check text-success"></span><a href="#"> Games finished</a>
            <span class="badge">@ViewBag.gc</span>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div id='recentlyGame' class="list-group">
                <ul class="list-group-item active"><span class="glyphicon glyphicon-king"></span> Recently played:</ul>

            </div>
        </div>

        <div class="col-lg-3 col-sm-4 col-xs-6">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-user">
                                </span> User
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-info"></span><a href="#"> Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-check text-success"></span><a href="#"> Games finished</a>
                                        <span class="badge">@ViewBag.gc</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                @if ((bool)Session["IsLoggedIn"] && Session["CurrentUser"].ToString() == ViewBag.whoami)
                {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                <span class="glyphicon glyphicon-cog">
                                </span> Settings
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-cog text-info"></span><a href="#" class="">
                                            Update Steam64 id
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-lock text-warning"></span><a href="#" class="">
                                            Change Password
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="#" class="text-danger">
                                            Delete Account
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/jquery-2.2.3.min.js"></script>
<script src="~/scripts/UserProfile.js"></script>
